<h1><%= @user.first_name.titleize %>'s Profile</h1>
<a href='/logout' data-method="delete">Logout</a><br>
<a href='/events'>Event Dashboard</a>

<p>Name:<%= @user.first_name.titleize %> <%= @user.last_name.titleize %></p>
<p>Email: <%= @user.email %></p>
<p>Location: <%= @user.location.city.titleize %>, <%= @user.location.state %></p>
