<h1>Secrets</h1>

<% @secrets.each do |secret|%>

   <%= secret.content %><hr>
   <% if secret.user == current_user %>
      <form action='/secrets/<%= secret.id %>' method='post'>
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="_method" value="delete">
         <input type='submit' value='Delete'>
      </form>
   <% end %>


   <p><%= secret.likes.count %> Likes</p>
   <% if secret.users.include?(current_user) %>
      <form action='/likes/<%= secret.id %>/destroy' method='post'>
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type="hidden" name="_method" value="delete">
         <input type='submit' value='Unlike'>
      </form>
   <% else %>
      <form action='/likes/<%= secret.id %>/create' method='post'>
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
         <input type='submit' value='Like'>
      </form>
   <% end %>

<% end %>
